* {
  box-sizing: border-box;
}

@media (max-width: 500px) {
  html {
    font-size: calc(1rem * 14 / 16);
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  margin: 0;
}

body,
body * {
  font-family: "Quicksand", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Newsreader", serif;
  font-weight: 700;
}

button {
  all: unset;
  text-align: center;
  background-color: #20252e;
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 0.2rem;
  font-weight: 550;
  display: inline-grid;
  place-content: center;
  place-items: center;
  line-height: 1;
}

ul.secao,
ul.secao > li {
  all: unset;
}

ul.secao {
  --column-width: 140px;
  display: grid;
  grid-template-columns: repeat(3, var(--column-width));
  gap: 1.5rem;
}

@media (max-width: 500px) {
  ul.secao {
    grid-template-columns: var(--column-width);
  }
}

.produtos {
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h2 {
  margin: 0;
  margin-top: 1rem;
}

ul.secao > li {
  display: grid;
  place-content: stretch;
}

h2,
h3 {
  color: #5e743c;
}

.produto {
  --produto-padding: 1rem;
  display: flex;
  flex-direction: column;
  padding: var(--produto-padding);
  /* border: 1px solid black; */
  place-content: start;
  gap: 0.3rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  position: relative;
}

.produto.selecionado {
  outline: 1px dashed #20252e;
  outline-offset: 4px;
}

.produto .badge {
  border: 1px dashed #20252e;
}

.produto > * {
  margin: 0;
}

.produto .preco {
  margin-top: auto;
}

.produto img {
  aspect-ratio: 1 / 1;
  width: calc(100% + 2 * var(--produto-padding));
  height: auto;
  object-fit: cover;
  margin: calc(-1 * var(--produto-padding));
  margin-bottom: 0;
}

header {
  display: flex;
  align-self: stretch;
  background-color: #5e743c;
  padding: 0.75rem 1rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

header .limitador {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: 470px;
  flex-grow: 1;
  margin: auto;
}

.limitador > * {
  margin: 0;
}

.limitador > button {
  position: relative;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(50%) translateY(-50%);

  background-color: white;
  color: #20252e;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  min-width: 2.4ch;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  opacity: 1;
  transition: opacity 0.5s ease;

  text-align: center;
  display: grid;
  place-items: center;
  place-content: center;
  line-height: 1;
}

.badge.zero {
  opacity: 0;
}

.carrinho {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  color: black;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  z-index: 10;
  width: max-content;
  max-width: 80vw;
  padding: 1rem;
  text-align: left;
  opacity: 0;
  transition: opacity 0.1s ease;
}

.carrinho.aberto {
  opacity: 1;
}

.carrinho h2 {
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carrinho h2 button {
  transform: scale(0.7);
}

.carrinho ul {
  all: unset;
  display: grid;
  gap: 0.5rem;
}

.carrinho li {
  all: unset;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.carrinho li > * {
  flex: 0 0 auto;
}

.carrinho li .nome {
  margin-right: auto;
  flex: 1 1 min-content;
}

.carrinho li input {
  width: 6ch;
}

.carrinho button {
  padding: 0.25rem 0.5rem;
}
